.top-bar .card {
    text-align: center;
}

.card {
    background-color: $CardBG;
    padding: 20px;
    border-radius: 5px;
    margin: 30px auto;
    transition: 500ms;

    &:hover {
        cursor: pointer;
        background: lighten($CardBG,5%);
    }

    &.light {
        background-color: $lightCardBG;

        &:hover {
            background: darken($lightCardBG,5%);
        }
    }

    @media (min-width: $desktop-size) {
        margin: 0;
    }
}

.card__numbers {
    color: $white;
    font-weight: 700;
}

.card.light .card__numbers {
    color: $veryDarkBlueText;
}

.card__numbers_lg {
    font-size: 50px;
}

.card__numbers_md {
    font-size: 25px;
}

.card__border {
    border-top: 3px solid transparent;

    &.card_facebook-border {
        border-color: $facebookColor;
    }
    &.card_twitter-border {
        border-color: $twitterColor;
    }
    &.card_instagram-border {   
        // Need to figure out border radius with gradient
        border-image: $instagramColor 1;
    }
    &.card_youtube-border {
        border-color: $youtubeColor;
    }
}

.followers-text {
    color: $textBlue;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 12px;
    margin-bottom: 15px;

    &.light {
        color: $darkGrayishBlueText;
    }
}

.card__social-name {
    color: $textBlue;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 10px;
    }
}

.trends {
    font-size: 12px;
    font-weight: 700;

    img {
        padding: 3px 0;
        margin-right: 5px;
    }
}

.trends__up {
    color: $brightGreen;
}

.trends__down {
    color: $brightRed;
}

.card__heading {
    margin-bottom: 20px;
}

.adjacent-alignment {
    @include flex-items($justify: space-between, $align-items: center);
}

.card__text-sm {
    color: $textBlue;
    font-weight: 700;
    font-size: 14px;
}