// GENERAL

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $veryDarkBlueBG;
  color: $white;
  padding: 30px 0;

  &.light {
    background-color: $white;
    color: $darkGrayishBlueText;

    .dash__header-title {
      color: $veryDarkBlueText;
    }
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}