.dash__header:after {
    @media (min-width: $desktop-size) {
        content: "";
        background-color: $veryDarkBlueTopBG;
        height: 200px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

.dash__header.light:after {
    @media (min-width: $desktop-size) {
        background-color: $veryPaleBlueTopBG;
    }
}

.dash__header {
    padding: 30px 0;

    @media (min-width: $desktop-size) {
        position: relative;
    }
}

.dash__header-subtitle {
    font-weight: 700;
    color: $textBlue;

    @media (min-width: $desktop-size) {
        margin-right: 10px;
    }
}

.dash__header-info {
    padding-bottom: 20px;
    border-bottom: 1px solid $textBlue;

    @media (min-width: $desktop-size) {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.dash__header-toggle {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $desktop-size) {
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
    }
}

.flex-parent {
    display: block;

    @media (min-width: $desktop-size) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Toggle
.toggle-switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    position: relative;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $darkToggle;
    border-radius: 35px;
    transition: 500ms;
}

.toggle__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: $veryDarkBlueBG;
    border-radius: 35px;
    transition: 500ms;

    &.light {
        background-color: $white;
    }
}

.toggle-switch input:checked + .toggle__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}