// COLORS

// Dark Theme
$veryDarkBlueBG: #1e202a;
$veryDarkBlueTopBG: #1f212e;
$CardBG: #252a41;
$textBlue: #8b97c6;
$white: #ffffff;
$darkToggle: linear-gradient(90deg, rgba(55,143,230,1) 0%, rgba(62,218,130,1) 100%);

// Light Theme
$veryPaleBlueTopBG: #f5f7ff;
$lightCardBG: #f0f2fa;
$darkGrayishBlueText: #63687e;
$veryDarkBlueText: #1e202a;
$lightToggle: hsl(230, 22%, 74%);