* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #1e202a;
  color: #ffffff; }

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 0 20px; }

.dash__header {
  padding: 30px 0; }

.dash__header-subtitle {
  font-weight: 700;
  color: #8b97c6; }

.dash__header-info {
  padding-bottom: 20px;
  border-bottom: 1px solid #8b97c6; }

.dash__header-toggle {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; }

.toggle-switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative; }

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
  border-radius: 35px;
  transition: 500ms; }

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: #1e202a;
  border-radius: 35px;
  transition: 500ms; }

.toggle-switch input:checked + .toggle__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.top-bar .card {
  text-align: center; }

.card {
  background-color: #252a41;
  padding: 20px;
  border-radius: 5px;
  margin: 30px auto; }

.card__numbers {
  color: #ffffff;
  font-weight: 700; }

.card__numbers_lg {
  font-size: 50px; }

.card__numbers_md {
  font-size: 25px; }

.card__border {
  border-top: 3px solid transparent; }
  .card__border.card_facebook-border {
    border-color: #198ff5; }
  .card__border.card_twitter-border {
    border-color: #1ca0f2; }
  .card__border.card_instagram-border {
    border-image: linear-gradient(90deg, #fdc468 0%, #df4996 100%) 1; }
  .card__border.card_youtube-border {
    border-color: #c4032a; }

.followers-text {
  color: #8b97c6;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 12px;
  margin-bottom: 15px; }

.card__social-name {
  color: #8b97c6;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .card__social-name img {
    margin-right: 10px; }

.trends {
  font-size: 12px;
  font-weight: 700; }
  .trends img {
    padding: 3px 0;
    margin-right: 5px; }

.trends__up {
  color: #1db489; }

.trends__down {
  color: #dc414c; }

.card__heading {
  margin-bottom: 20px; }

.adjacent-alignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.card__text-sm {
  color: #8b97c6;
  font-weight: 700;
  font-size: 14px; }
