* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #1e202a;
  color: #ffffff; }

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 0 20px; }

.dash__header {
  padding: 30px 0; }

.dash__header-subtitle {
  font-weight: 700;
  color: #8b97c6; }

.dash__header-info {
  padding-bottom: 20px;
  border-bottom: 1px solid #8b97c6; }

.dash__header-toggle {
  padding-top: 20px; }

.toggle-switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative; }

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
  border-radius: 35px;
  transition: 500ms; }

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: #ffffff;
  border-radius: 35px;
  transition: 500ms; }

.toggle-switch input:checked + .toggle__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }
